chain-data/*
!chain-data/.gitkeep
!scripts/keys/.gitkeep
!scripts/keys/key_example.json
scripts/validator/node_modules
scripts/generate-accounts/node_modules
scripts/tokenomics-emulation/node_modules
.idea
