{
	acme_ca https://acme-v02.api.letsencrypt.org/directory
}

testnet-node-1.cere.network:9945 {
	reverse_proxy / boot_node:9944
}

testnet-node-1.cere.network:9934 {
	reverse_proxy / boot_node:9933
}
