testnet-node-1.cere.network:9945 {
	log stdout
	errors stderr
	gzip
	tls ab@cere.io
	proxy / boot_node:9944 {
	     websocket
	  }
}
testnet-node-1.cere.network:9934 {
	log stdout
	errors stderr
	gzip
	tls ab@cere.io
	proxy / boot_node:9933
}
